@import "tailwindcss";

@theme inline {
    --font-mont: "Montserrat", sans-serif;
    --font-mont-alt: "Montserrat Alternates", sans-serif;
    --font-albert: "Albert Sans", sans-serif;
    --font-logo: "Pacifico", cursive;
}

* {
    /*outline: red 1px solid;*/
}
